.bottom-panel {
    flex:1;
    width:100%;
    background:'white';
    display:flex;
    padding:20px;
    align-items:center;
}

.input-message {
    padding:10px;
    border:0px;
    font-size:15px;
    flex-grow:9;
    margin-right:20px;
    resize:none;
}

.btn-submit {
    width:50px;
}