html{
    height:100%;
    min-height:100%;
}

body {
    height:100%;
    min-height:100%
}

#root {
    width: 100%;
    height: 100%;
    overflow:hidden;
}

.container {
    display:flex;
    width:100%;
    height:100%;
}

.main {
    width:100%;
    display: flex;
	flex-direction: column;
    justify-content: center;
    position: relative;
}

/* content-chat */

.content-chat {
    flex:10;
    background-color:#f7f7f7;
    padding:20px;
    height:10%;
    overflow:scroll;
}

.centercontent {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

@media only screen and (max-width: 600px) {
    .main {
        width: calc(100% - 0px) !important;
    }
  }