.box {
    position: absolute;
    left: 20px;
    bottom: 10px;
    display: flex;
    flex-direction: column-reverse;
    z-index: 9999999999999;
    max-height: 300px;
    overflow: scroll;
}


@media only screen and (max-width: 600px) {
    body {
    min-width: 350px;
    }
  }