
.chat-box {
    display:flex;
    max-width:100%;
    margin-bottom: 10px;
}

.chat-box.left {
    justify-content: flex-start;
}

.chat-box.right {
    justify-content: flex-end;
}

.chat-box.right .name {
    text-align: right;
    margin-top: 0px;
}

.chat-box.right .message {
    text-align: right;
    margin-top: 0px;
}

.chat-box.left .name {
    text-align: left;
    margin-top: 0px;
}

.chat-box .message {
    margin-bottom: 0px;
}
