.notify {
    display: flex;
    padding: 10px 20px;
    border-radius: 5px;
    margin-bottom: 10px;
    position: relative;
    align-items: center;
    justify-content: center;
}

.notify h4 {
    margin: 0;
    margin-right: 20px;
    color: white;
    text-transform: capitalize;
}

.notify p {
    margin: 0;
    margin-right: 20px;
    color: #adadad;
    width: 100px;
    max-width: 100px;
    text-align: center;
}